<div class="row animated fadeInRight">
  <div class="col-sm-8">
    <button type="button" class="btn btn-primary" style="margin-top:20px;" (click)="modalMember.open()">
      Adauga o barfa
    </button>
  </div>
  <br/><br/><br/>
  <div class="col-md-8" *ngFor="let gossip of gossips">
    <span class="highlight">{{gossip.title}} <i class="fa fa-commenting"></i></span>
    <br/>
    <span><strong>Data publicarii:</strong> {{gossip.date}}</span>
    <hr>
    <span><strong>Continut:</strong> {{gossip.content}}</span>
    <hr>
  </div>
</div>
