<div class="row">
  <br/><br/><br/>
  <div class="icon-home col-md-1">
    <i class="fa fa-user home-i"></i>
  </div>
  <div class="col-md-8">
    <span class="highlight">{{teacher.name}}</span>
    <br/>
    <div class="home-text">
      <span>
        <strong>Titlu:</strong> {{teacher.title}}<br/>
        <strong>Email:</strong> {{teacher.email}}<br/>
        <strong>Web:</strong> {{teacher.website}} <br/>
        <strong>Rating:</strong> <i class="fa fa-star yellow-star"></i>{{teacher.rating}}<br/>
        <strong>No. Rated:</strong> {{teacher.total_votes}} <br/><br/>

        <strong>Acorda rating:</strong>
        <i class="fa fa-star yellow-star"></i>
        <i class="fa fa-star yellow-star"></i>
        <i class="fa fa-star yellow-star"></i>
        <i class="fa fa-star yellow-star"></i>
        <i class="fa fa-star yellow-star"></i>
        <i class="fa fa-star yellow-star"></i>
        <i class="fa fa-star yellow-star"></i>
        <i class="fa fa-star yellow-star"></i>
        <i class="fa fa-star yellow-star"></i>
      </span>
    </div>
  </div>
</div>
