<div class="row">
  <br/><br/><br/>
  <div class="icon-home col-md-1">
    <i class="fa fa-user home-i"></i>
  </div>
  <div class="col-md-8">
    <span class="highlight">{{teacher.name}}</span>
    <br/>
    <div class="home-text">
      <span>
        <strong>Titlu:</strong> {{teacher.title}}<br/>
        <strong>Email:</strong> {{teacher.email}}<br/>
        <strong>Web:</strong> {{teacher.website}} <br/>
        <strong>Rating:</strong> <i class="fa fa-star yellow-star"></i>{{teacher.rating}}<br/>
        <strong>No. Rated:</strong> {{teacher.total_votes}} <br/><br/>

        <strong>Acorda rating:</strong>
        <input type="text" [(ngModel)]="rating.grade" placeholder="minim 1 - maxim 10">
        <button type="button" class="btn btn-primary" (click)="addRating()">Salveaza</button>
      </span>
    </div>
  </div>
</div>
