<div class="middle-box text-center loginscreen animated fadeInDown login-box child">
    <div class="col-md-12">
        <img src="../../../../assets/sigla.png" class="login-logo">
    </div>
    <h1 class="col-md-12 login-title">AUTENTIFICARE</h1>

    <div class="row login-content">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Nume utilizator">
        </div>
        <div class="col-md-12 form-group">
            <input type="password" class="form-control" placeholder="Parola utilizator">
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary block full-width m-b" (click)="loggedIn()">Login</button>
        </div>
        <span class="m-t footer-text-white"> <small>Pentru probleme si suport utilizare, e-mail:</small> </span>
        <br/>
        <span class="m-t footer-text-black"> <small>support@acar.ro</small> </span>
        <br/>
        <p class="m-t footer-text-white">
            <small>Versiune 1.0.0</small>
        </p>
        <br/>
    </div>
</div>