<div class="row ">
  <div class="col-sm-8">
    <button type="button" class="btn btn-primary" style="margin-top:20px;" (click)="modalGossip.open(teacherId)">
      Adauga o barfa
    </button>
  </div>
  <br/><br/><br/>
  <div class="col-md-8" *ngFor="let gossip of gossips">
    <span class="highlight">{{gossip.title}} <i class="fa fa-commenting"></i></span>
    <br/>
    <span><strong>Data publicarii:</strong> {{gossip.posting_date}}</span>
    <hr>
    <span><strong>Continut:</strong> {{gossip.content}}</span>
    <hr>
  </div>
</div>
<acar-addteachergossip (pageChanged)="handleAdd($event)"></acar-addteachergossip>
