<div class="row">
  <br/><br/><br/>
  <div class="icon-home col-md-1">
    <i class="fa fa-paperclip home-i"></i>
  </div>
  <div class="col-md-8">
    <span class="highlight">{{course.name}}</span>
    <br/>
    <div class="home-text">
      <span><strong>An:</strong> {{course.year}}<br/>
        <strong>Profesor titular:</strong> {{course.main_teacher}}</span></div>
  </div>
</div>

<div class="row">
  <br/><br/><br/>
  <div class="icon-home col-md-1">
    <i class="fa fa-user home-i"></i>
  </div>
  <div class="col-md-8">
    <span class="highlight">Forescu</span>
    <br/>
    <div class="home-text">
      <span>
        <strong>Titlu:</strong> Profesor<br/>
        <strong>Email</strong> forescu@info.uaic.ro<br/>
        <strong>Web</strong> https://profs.info.uaic.ro/~forescu<br/>
        <strong>Rating:</strong> <i class="fa fa-star yellow-star"></i>10
      </span>
    </div>
  </div>
</div>
