<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="table-responsive">
          </div>
          <div class="row">
            <div *ngFor="let project of projects" class="box box-zoom">
              <div class="boxes-orange col-sm-2" *ngIf="project.id % 10 % 2 == 1">
                <i class="fa fa-code icon-box-orange"></i>
                <span>
                  <strong>Titlu proiect:</strong> {{project.title}}<br/>
                  <strong>Continut:</strong> {{project.content}} <br/>
                  <strong>Fisier:</strong> <a>{{project.file}}</a>
                </span>
              </div>

              <div class="boxes-blue col-sm-2" *ngIf="project.id % 10 % 2 == 0">
                <i class="fa fa-code icon-box-blue"></i>
                <span>
                  <strong>Titlu proiect:</strong> {{project.title}}<br/>
                  <strong>Continut:</strong> {{project.content}} <br/>
                  <strong>Fisier:</strong> <a>{{project.file}}</a>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <lp-pagination [pager]="pager" (pageChanged)="handlePageChanged($event)"></lp-pagination>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

