/* You can add global styles to this file, and also import other style files */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInRight {
  animation-name: fadeInRight;
}

.wrapper-content {
  padding: 20px 10px 0;
}

.wrapper {
  padding: 0 20px;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
  }
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
  }
}

@media (max-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 0;
    min-height: 1000px;
  }
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}

html,
body {
  height: 100%;
}

body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
  height: 100%;
}

.border-bottom {
  border-bottom: 1px solid #e7eaec;
}
.white-bg {
  background-color: #ffffff;
}
.page-heading {
  border-top: 0;
  padding: 0 10px 20px 10px;
}
.ibox:after,
.ibox:before {
  display: table;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.ibox-title {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 2px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 15px 7px;
  min-height: 48px;
}

@media (min-width: 768px) {
  .navbar-static-side {
    z-index: 2001;
    position: absolute;
    width: 220px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.nav > li > a {
  color: #a7b1c2;
  background-color: #293846;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  background-color: #293846;
  color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.nav-header {
  padding: 33px 25px;
  background-color: #293846;
}
.clear {
  display: block;
  overflow: hidden;
}

.block {
  display: block;
}

.m-t-xs {
  margin-top: 5px;
}

.nav > li.active {
  border-left: 4px solid #F79835;
  background: #293846;
}

.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

.loginscreen.middle-box {
  width: 300px;
}

.m-t {
  margin-top: 15px;
}

.block {
  display: block;
}

.full-width {
  width: 100% !important;
}

.m-b {
  margin-bottom: 15px;
}


.btn-primary {
  background-color: #F79835 !important;
  border-color: #F79835 !important;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
}

.btn-primary.btn-outline {
  color: #F79835;
}

.nav-header a {
  color: #DFE4ED;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
  color: white;
}

.navbar {
  border: 0;
}

.navbar {
  border: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: #2f4050;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 40px;
}
.body-small .navbar-top-links li:last-child {
  margin-right: 0;
}
.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}
.nav > li > a {
  color: #a7b1c2;
  background-color: #293846;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}
.nav.navbar-right > li > a {
  background-color: #f3f3f4;
  color: #999c9e;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #293846;
  color: white;
}

a {
  cursor: pointer;
}

div a {
  color: #293846;
  text-decoration: none !important;
}
