<nav class="navbar-default navbar-static-side">
    <div>
        <ul class="nav full-height navbar" >
            <acar-header [user]="user"></acar-header>
            <li routerLinkActive="active">
                <a routerLink="/home"><i class="fa fa-home"></i> <span class="nav-label">Acasa</span></a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/courses"><i class="fa fa-paperclip"></i> <span
                        class="nav-label">Cursuri</span></a>
            </li>
          <li routerLinkActive="active">
            <a routerLink="/teachers"><i class="fa fa-users"></i> <span
              class="nav-label">Profesori</span></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/books"><i class="fa fa-book"></i> <span
              class="nav-label">Carti</span></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/projects"><i class="fa fa-code"></i> <span
              class="nav-label">Proiecte</span></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/documents"><i class="fa fa-file-text"></i> <span
              class="nav-label">Documente</span></a>
          </li>
          <li routerLinkActive="active" (click)="logOut()">
            <a><i class="fa fa-sign-out"></i> <span
              class="nav-label">Iesire</span></a>
          </li>
        </ul>
    </div>
</nav>
